body {

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
  background-color: #011F3F;
}

#level-title {

  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  margin-bottom: 30px;
  color: #FEF2BF;
}

#level-score {

  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  margin-top: -2150px;
  color: #FEF2BF;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;




}

.btn {
  margin: 15px;

  height: 150px;
  width: 150px;
  border: 7px solid black;
  border-radius: 10%;

  justify-content: center;
  text-align: center;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.content{
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 7rem;
  padding: 0px;
  margin: 0px;
  margin-top: 10px;
}
